<script type="text/javascript">
	if(document.getElementById('male').checked) {
		var ssscheck = document.getElementById('serviceSystem').removeAttribute("hidden");
	}
	else {
		var ssscheck = document.getElementById('serviceSystem').setAttribute("hidden");
	} 
</script>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">

			<div class="row">
				<div class="col-md-2">
					<br/>
					<br/>
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>

				</div>
				<div class="col-md-8"><h1>Basic contact information</h1>
					<br/>
					<br/>
					<form>
						<div class="form-group">
							<label class="control-label" for="fname">First Name</label>
							<input class="form-control" id="fname" name="fname" placeholder="your first name" type="text"/>
						</div> <br>

						<div class="form-group">
							<label class="control-label" for="lname">Last Name</label>
							<input class="form-control" id="lname" name="lname" placeholder="your Last name" type="text"/>
						</div> <br>


						<label class="control-label" for="gender">Gender</label>
						<div class="radio">
							<label><input type="radio" name="optionsGender" id="male" value="male">Male</label>
						</div>

						<div class="radio">
							<label><input type="radio" name="optionsGender" id="female" value="female" checked>Female</label>
						</div> <br>

						<div id="serviceSystem" hidden><p>You have to register with the Selective Service System.</p></div>

					</form>

				</div>
				<div class="col-md-2"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				</div>


			</div>

		</div>
	</div>
</div>


