<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
        <h1>Basic contact information</h1>
        <br/>
        <br/>
        <form>
            <div class="form-group">
                <label class="control-label" for="fname">First Name</label>
                <input class="form-control" id="fname" name="fname" placeholder="your first name" type="text"/>
            </div> <br>

            <div class="form-group">
                <label class="control-label" for="lname">Last Name</label>
                <input class="form-control" id="lname" name="lname" placeholder="your Last name" type="text"/>
            </div> <br>


            <label class="control-label" for="gender">Gender</label>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsGender" id="gender" value="male" checked>
                    Male
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="optionsGender" id="gender" value="female">
                    Female
                </label>
            </div> <br>

        </form>
    </div>
</div>
</div>