<!DOCTYPE html>
<html lang="en">
<head>
	<title>Student Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


	<div class="container">
		<h2>Student form</h2> 
		<h4>Welcome back, Michael</h4> 	
		<br> <br>

		<!-- =========================== begins here ================================== -->

		<div class="container">
			<div class="panel panel-default">
				<div class="panel-body">

					<div class="row">
						<div class="col-md-2">
							<br/>
							<br/>
							<a href="contactDetails.html"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>

						</div>
						<div class="col-md-8"><h1>Marital Status</h1>
							<br/>
							<br/>
							<form>
								<label class="control-label" for="marital-toggle">What is your marital status?</label>
								<div class="radio">
									<label><input type="radio" name="marital-toggle" id="single" value="single">Single</label>
								</div>

								<div class="radio">
									<label><input type="radio" name="marital-toggle" id="married_remarried" value="married_remarried" checked>Married or remarried</label>
								</div>

								<div class="radio">
									<label><input type="radio" name="marital-toggle" id="separated" value="separated" checked>Separated</label>
								</div>

								<div class="radio">
									<label><input type="radio" name="marital-toggle" id="divorced" value="divorced" checked>Divorced or Widowed</label>
								</div>

								
							</form>

						</div>
						<div class="col-md-2"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
					</div>

				</div>
			</div>
		</div>




		<!-- =========================== ends here ================================== -->
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>



